.container {
    position: relative;
    border: dotted 2px black;
    width: 60%;
    height: 100%;
}
.dashboard {
    position: absolute;
    top:0;
    left: 70%;
}

.draggable {
    background-color: green;

}

.dropzone {
/*     position: absolute;
    width : 150px;
    height: 150px;
    top: 300px;
    left: 300px; */
    background-color: red;
}

.over {
    background-color: chartreuse;

}