<header>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bozo.css">
</header>
<body>
    <div class="container">
        <div class="dropzone box-shop "></div>
        <div class="dropzone box-circus"></div>
        <div class="dropzone box-jail"></div>
        <div id='draggable' class="bozo" draggable="true"></div>
    </div>

    <div class="dashboard">
        Mouse Pressed<p id="mpressed"></p>
        Mouse Moving<p id="mmoving"></p>
    </div>

    <script src="js/main.js"></script>
    <script src="js/DragDropTouch.js"></script>

</body>
